@tailwind base;
@tailwind components;
@tailwind utilities;


.chat-bubble {
  position: relative;
}

.chat-bubble-user::after {
  content: '';
  border-radius: 6px;
  position: absolute;
  bottom: 4px;
  right: -6.8px; /* 吹き出しの口の位置 */
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #61CFC4 transparent; /* 吹き出しの色に合わせる */
  transform: rotate(9deg) skew(-8deg, -9deg) 
}

.chat-bubble-other::after {
  content: '';
  border-radius: 6px;
  position: absolute;
  top: 3px;
  left: -8px; /* 吹き出しの口の位置 */
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #FFFF transparent; /* 吹き出しの色に合わせる */
  transform: rotate(190deg) ;
}

#chat-message-mini {
  font-size: 11px;
}

#main_container {
  max-width: 860px
}
#usecase_container {
  max-width: 1200px
}

#x_container {
  max-width: 400px;
  max-height: 520px
}